---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Contact" includeSidebar={true}>
  <div class="text-center">
    <h1 class="text-3xl font-bold mb-4">Contact Me</h1>
    <p class="text-1xl mb-2">
      You can contact me on <a
        href="https://discordapp.com/users/551209559557931043"
        >Discord as chaselittpaws</a
      > as chaselittpaws, inworld as biscuitplush or by
      <a href="mailto:littlepaws@hey.com">email at littlepaws.hey.com</a>.
    </p>
    <a class="btn btn-accent mt-9" href="/">Home</a>
  </div>
</BaseLayout>
